body{
    background-color: lemonchiffon;
}
h1{
  cursor: cell;
}
.container{
    max-width:400px;
}
input[type="text"],
input[type="text"]:focus{
    color: #fff;
    border:none;
    background:rgba(0,0,0,0.2);
   
    max-width:400px;
}
.todos li{
    background: lemonchiffon;
}
.delete{
  cursor: pointer;
    color: lightsalmon;
}
span{
    color:crimson;
}
.filtered{
    display:none !important;
}